.navbar{background: #656870;  }

.nav-link , mavbar-brand{ color:#dce0e3 ; cursor: pointer;}

.nav-lin{margin-right: item !important;}

.nav-link:hover{ background: #dce0e3 ; color: #656870;}

.navbar-collapse{justify-content: flex-end;}

.navbar-toggler { background: #fff !important;}

.navbar-collapse { justify-content: flex-end;}

*{ 
    margin:0;
    padding:0;
    box-sizing: border-box;
    text-decoration: none;
}

body
{ 
    font-size: 100%; 
    background: linear-gradient(68.15deg, #dce0e3 16.62%, #8290A5 85.61%);
}
.overlay{
    position: absolute;
    margin-top: 5.5em;
    min-height: 100%;
    min-width: 100%;
    left: 0;
    top: 0;
    background: rgba(244, 244, 244, 0.79);
   }
   .header img{
    position: relative;
    width: 800px;
    height: 535px;
   
   
    }
   
   .description{    
    position: relative;
   
    margin: auto;
    margin-left: -1.5em;
    margin-right: 100px;
    padding: 2em;
    font-weight: 700;
    font-size: 18px;
   
    background-color: #24211a;
    block-size: 535px;
}


.description h2{
    color:#F97300 ;
   }

.description button{
 border:1px  solid #F97300;
 background:#F97300;
 color:#fff;
 margin-right: 0em;
}

    
.description p{
    font-weight: 400;
    font-size: 16px;
    color: #dce0e3;
    line-height: 2.5em;
    margin-top: 30px;
    
    
}    
.description h1{
    color:#F97300 ;
    
    }   
/* slider dos clientes */
.carousel-control.left, .carousel-control.right {
	background-image:none;
}

.img-responsive{
	width:100%;
	height:auto;
}

@media (min-width: 992px ) {
	.carousel-inner .active.left {
		left: -25%;
	}
	.carousel-inner .next {
		left:  25%;
	}
	.carousel-inner .prev {
		left: -25%;
	}
}

@media (min-width: 768px) and (max-width: 991px ) {
	.carousel-inner .active.left {
		left: -33.3%;
	}
	.carousel-inner .next {
		left:  33.3%;
	}
	.carousel-inner .prev {
		left: -33.3%;
	}
	.active > div:first-child {
		display:block;
	}
	.active > div:first-child + div {
		display:block;
	}
	.active > div:last-child {
		display:none;
	}
}

@media (max-width: 767px) {
	.carousel-inner .active.left {
		left: -100%;
	}
	.carousel-inner .next {
		left:  100%;
	}
	.carousel-inner .prev {
		left: -100%;
	}
	.active > div {
		display:none;
	}
	.active > div:first-child {
		display:block;
	}
}
/* formulario e imagem do formulario */
    .bg{background-color: #24211a;}
 

    
    .conosco{
       
        padding: 2em 0 ;
        position: relative;
        padding-bottom: 6em;
     
       }

       .conosco h1{
        color:#dce0e3 ;
        margin: 2em;
       }

       .conosco img{
        height: 100%;
           width: 720px;
           
       }

       .conosco label { 
        color:#dce0e3;
       }
       .conosco button{
        border:1px  solid #F97300;
        background:#F97300;
        color:#fff;
       margin-top: 3em;
       width: 150px;
       height: 75px;
       margin-left: -5em;
       
       }

       /* footer */
       .foot {
       
        
        position: relative;
        padding-bottom: 2em;
        background: #656870;
        
       }

       .foot  h1{
        color:#dce0e3 ;
        margin-top: 1em;
        font-size: 30px;
        
       }
       .pequeno{
           height: 50px;
           width: 50px;
           padding: 5px;
       }
       .certificado{
       height: 125px;
       width: 260px;
       }

       .foot a{ 
        color:#dce0e3 ;
        font-size: 18px;
       }