.navbar{background: #656870;  }

.nav-link , mavbar-brand{ color:#dce0e3 ; cursor: pointer;}

.nav-lin{margin-right: item !important;}

.nav-link:hover{ background: #dce0e3 ; color: #656870;}

.navbar-collapse{justify-content: flex-end;}

.navbar-toggler { background: #fff !important;}

.navbar-collapse { justify-content: flex-end;}

*{ 
    margin:0;
    padding:0;
    box-sizing: border-box;
    text-decoration: none;
}

body
{ 
    font-size: 100%; 
    background: linear-gradient(68.15deg, #dce0e3 16.62%, #8290A5 85.61%);
}
.overlay{
    position: absolute;
    margin-top: 3.5em;
    min-height: 100%;
    min-width: 100%;
    left: 0;
    top: 0;
    background: rgba(244, 244, 244, 0.79);
   }
   .header img{
    position: relative;
    width: 800px;
    height: 535px;
   
   
    }
   
   .description{    
    position: relative;
   
    margin: auto;
    margin-left: -1.5em;
    margin-right: 100px;
    padding: 2em;
    font-weight: 700;
    font-size: 18px;
   
    background-color: #24211a;
    block-size: 535px;
}

.description h1{
 color:#F97300 ;
 
}
.description h2{
    color:#F97300 ;
   }

.description button{
 border:1px  solid #F97300;
 background:#F97300;
 color:#fff;
 margin-right: 0em;
}

    
.description p{
    font-weight: 400;
    font-size: 16px;
    color: #dce0e3;
    line-height: 2.5em;
    margin-top: 30px;
    
    
}    

    
    
    .about{
        margin: 4em 0;
        padding: 1em;
        position: relative;
     
       }
       .about h1{
        color:#F97300;
        margin: 2em;
       }
       .about img{
        height: 100%;
           width: 100%;
           border-radius: 50%
       }
       .about span{
        display: block;
        color: #888;
        position: absolute;
        left: 115px;
       }
       .about .desc{
        padding: 2em;
        border-left:4px solid #10828C;
       }
       .about .desc h3{
        color: #10828C;
       }
       .about .desc p{
        line-height:2;
        color:#888;
       }